<%- include('../includes/head'); %>
<%- include('../includes/nav'); %>

<main>
  <div class="container">
    <div class="box box-detail mt-s">
      <% if (product != undefined) { %>
      <form action="/products/delete" method="GET" class="txt-r mt-s">
        <div class="list-label">Choose another destination to delete</div>
        <div class="selection">
          <select name="id" class="select-simple">
            <% if (products != undefined) { %>
              <% products.forEach(record => { %>
                <option value="<%= record.id %>" <% if (product.id == record.id) { %>selected<% } %>><%= record.city %></option>
              <% }); %>
            <% } %>
          </select>
          <button type="submit" class="btn btn-simple">Go</button>
        </div>
      </form>

			<h2 class="mt-s txt-center">Delete Destination of <%= product.city %></h2>
      <div class="result-msg mt-s result-red">
        <p class="my-s txt-red">Please carefully choose destination to delete. This operation cannot be reverted.</p>
      </div>
      <form method="POST" action="/products/<%= product.id %>?_method=DELETE" enctype="multipart/form-data">
				<div class="mt-s form-flex">
					<label>Region</label>
					<input type="text" name="region" value="<%= product.region %>" class="input-txt mt-xs txt-gray" readonly />
				</div>
				<div class="mt-s">
					<label>City</label>
					<input type="text" name="city" value="<%= product.city %>" class="input-txt mt-xs txt-gray" readonly />
				</div>
				<div class="mt-s">
					<label>Description</label>
					<textarea name="description" class="input-txtarea mt-xs txt-gray" readonly><%= product.description %></textarea>
				</div>
        <div class="mt-s">
					<label>Cite</label>
					<input type="text" name="cite" value="<%= product.cite %>" class="input-txt mt-xs txt-gray" readonly />
				</div>
				<div class="mt-s">
					<label>Price $</label>
					<input type="text" name="price" value="<%= product.price %>" class="input-txt mt-xs txt-gray" readonly />
				</div>
				<div class="mt-s">
          <label>Image File</label>
          <input type="hidden" name="image" value="<%= product.image %>" />
          <p class="my-xs txt-gray"><%= product.image %></p>
				</div>
				<div class="mt-s">
					<label>Image Caption</label>
					<input type="text" name="caption" value="<%= product.caption %>" class="input-txt mt-xs txt-gray" readonly />
				</div>
				<div class="mt-s txt-center">
            <a href="products/all"><input type="button" class="btn btn-simple" value="Cancel" /></a>
            <button type="submit" class="btn btn-simple btn-danger">Delete Destination</button>
				</div>
  		</form>
      <% } else { %>
        <div class="mt-s txt-center">
          There was a problem retrieving the destination data.
        </div>
      <% } %>
    </div>
	</div>
</main>

<%- include('../includes/footer'); %>
