<%- include('./includes/head'); %>
<%- include('./includes/nav'); %>

<main class="content-center">
	<div class="container">

  <% if (typeof result !== 'undefined') { %>
		<div class="box box-detail">
			<div class="result-msg mt-m <%= result ? 'result-green' : 'result-red' %>">
				<p class="my-s <%= result ? 'txt-green' : 'txt-red' %>"><%= result_msg.replace(/(?:\\[rn])+/g, "<br />"); %></p>
			</div>
    </div>
  <% } %>

    <div class="box box-detail mt-s">
			<h2 class="mt-s txt-center">Login</h2>
			<p class="txt-center">Don't you have an account yet? Please <a href="register" class="detail-link">sign up</a>.</p>
      <form action="/login" method="POST" >
				<div class="mt-s">
					<label>Username</label>
					<input type="text" name="username" class="input-txt mt-xs" required />
				</div>
				<div class="mt-s">
					<label>Password</label>
					<input type="password" name="password" class="input-txt mt-xs" required />
				</div>
				<div class="mt-s txt-center">
            <button type="submit" name="login" class="btn btn-simple">Login</button>
				</div>
  		</form>
		</div>

	</div>
</main>

<%- include('./includes/footer'); %>